html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

#map-content {
    flex-grow: 1;
}

#map {
    height: 100%;
}

.options-box {
    background: rgb(8, 0, 0);
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
}

.filter-contrl {
    display: flex;
    border-radius: 3px;
    margin: 3px;
    height: 30px;
}

.filter-contrl div.input-content {
    background-color: aliceblue;
    flex-grow: 3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px;
    display: flex;
}

.filter-contrl div.input-content input {
    border: 0;
    flex-grow: 1;
}

.filter-contrl .fliter-button {
    height: 100%;
    background-color: cornflowerblue;
    flex-grow: 1;
    line-height: 30px;
    padding-left: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filter-contrl input:focus {
    outline: none;
}

.filter-contrl .fliter-button:hover {
    cursor: pointer;
    background-color: rgb(76, 76, 230);
}

.filter-contrl .fliter-button i {
    color: white;
}

.list-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 90%;
    overflow-y: scroll;
}

.list-content .list-item {
    color: darkgrey;
}

.list-content .list-item:hover {
    color: white;
    background-color: rgb(70, 3, 3);
    cursor: pointer;
}

.title-bar {
    height: 50px;
    background-color: #525454;
}

#hb-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#hb-icon i.fa-bars {
    color: steelblue;
}

#hb-icon i.fa-bars:hover {
    color: teal;
    cursor: pointer;
}